/*=========================== About page Style========*/


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}




 body{

    background:#fff;
    color: #000;
    font-family:"Inter" ,sans-serif;
    font:bold;
  


}


.Heading {
    margin-top: 6rem;
    margin-left: 1rem;   
}

.Heading h1 {
    font-size: 1.4rem;
}

.Heading p, h1 {
    margin:0%;
    padding: 0%;
}

.Heading p{
    font-size: 1.1rem;
}



.Offer {

    margin-top: 2rem;
    margin-left: 0rem;
}

.Offer p,h2{
    margin: 1rem;
    padding:0%;
}


.Offer ul {
    list-style:circle;
    font-size: 1.1rem;
    margin-bottom: 5px;
    margin-top: 0;
}
 .Offer ul li {
    margin-bottom: 5px;
    margin-left: 3rem;
   
}


.Started{

    margin-top: 2rem;
    margin-left: 1rem;
}

.Started p{
    font-size:1.1rem;
}

.Offer,.Started {
    font-size: 0.9rem;
}

